body{
	font-family: 'Oxygen', sans-serif;
	/*font-family: 'Heebo', sans-serif;*/
}

/* section{
	height: 100vh;
} */


section.home{
	background: #43cea2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-content{
	padding-top:2em;
	color: #fff;
}

.bg-translucent{
	background: rgba(0,197,213,0.22)
}

.bg-shadow{
	box-shadow: 10px 0 10px #888888;
}


ol.carousel-indicators li{
	background-color: #43cea2;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon{
	color: #43cea2;
}